
.vs/CoffeeMachine/config/applicationhost.config

.vs/CoffeeMachine/DesignTimeBuild/.dtbcache.v2

.vs/CoffeeMachine/v16/.suo

.vs/CoffeeMachine/v16/TestStore/0/006.testlog

.vs/VSWorkspaceState.json

.vs/slnx.sqlite

.vs/CoffeeMachine/v16/TestStore/0/testlog.manifest

.vs/projet/v16/.suo
